.web-name {
    font-size: 23px;
    color: #004792;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    text-align: center;
}

.menu-name {
    font-size: 19px;
    cursor: pointer;
}

.menu-name:hover {
    color: blue;
}

::ng-deep .mat-icon-foot {
    height: 35px !important;
    width: 200px !important;
}

.foot-main-div {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copy-right-text {
    text-align: center;
    font-weight: 500;
    padding-bottom: 10px;
}

@media (max-width: 500px) {
    .foot-main-div {
        flex-direction: column;
    }

    .copy-right-text {
        font-size: 13px;
    }
}

@media (min-width: 501px) and (max-width: 770px) {
    .foot-main-div {
        padding: 0px;
        justify-content: space-evenly;
    }

    .copy-right-text {
        font-size: 14px;
    }
}