<div style="background-color: rgba(123, 123, 123, 0.1);">
    <div
        style="display: flex;justify-content: space-between;padding: 20px;">
        <div>
            <div style="display: flex;justify-content: center;">
                <img width="120"
                    src="../../../assets/pupilnest-removebg-preview.png" />
            </div>

            <div class="web-name">Pupil Nest</div>

            <div
                style="margin-top: 50px;display: flex;justify-content: center;gap: 30px;">
                <div>
                    <a href="tel:+917373888677">
                        <mat-icon
                            style="background-color: white;padding: 10px;border-radius: 5px;color: black;">call</mat-icon>
                    </a>
                </div>
                <div>
                    <a href="https://wa.me/7373888677" target="_blank">
                        <img width="25px"
                            style="background-color: white;padding: 10px;border-radius: 5px;"
                            src="../../../assets/whatsapp-icon.png" />
                    </a>
                </div>
                <div>
                    <a href="mailto:pupilnest@gmail.com">
                        <mat-icon
                            style="background-color: white;padding: 10px;border-radius: 5px;color: black;">email</mat-icon>
                    </a>
                </div>
                <div>
                    <a href="http://pupilnest.com/" target="_blank">
                        <mat-icon
                            style="background-color: white;padding: 10px;border-radius: 5px;color: black;">language</mat-icon>
                    </a>
                </div>
            </div>
        </div>

        <div>
            <div><h3>Contact</h3></div>

            <div style="display: flex;margin: 5px 0px 10px 0px;">
                <a style="display: flex;text-decoration: none;color: black;"
                    href="tel:+917373888677">
                    <div style="width: 50px;">
                        <mat-icon style="color: blue;">call</mat-icon>
                    </div>
                    <div>+91 7373888677</div></a>
            </div>

            <a style="text-decoration: none;color: black;"
                href="mailto:pupilnest@gmail.com">
                <div
                    style="display: flex;">
                    <div style="width: 50px;"><mat-icon class="mat-icon-foot"
                            style="color: blue;">mail</mat-icon></div>
                    <div>pupilnest&#64;gmail.com</div>
                </div>
            </a>

            <div
                style="display: flex;">
                <div style="width: 50px;"><mat-icon class="mat-icon-foot"
                        style="color: blue;">location_on</mat-icon></div>
                <div
                    style="width: 200px;line-height: 22px;word-spacing: 5px;">
                    <span style="white-space: nowrap;">Savedata Infotech
                        Solutions</span>,
                    #1, Marvel Complex,
                    Palakkad Main Road,
                    BK Pudur, Kuniamuthur Post,
                    Coimbatore, Tamil Nadu 641008.</div>
            </div>
        </div>

        <div>
            <div><h3>Quick Links</h3></div>

            <div style="display: block;line-height: 36px;">
                <div [routerLink]="[]" [fragment]="'homediv'" class="menu-name">Home</div>
                <div [routerLink]="[]" [fragment]="'aboutdiv'" class="menu-name">About</div>
                <div [routerLink]="[]" [fragment]="'featuresdiv'"
                    class="menu-name">Features</div>
                <div [routerLink]="[]" [fragment]="'benefitsdiv'"
                    class="menu-name">Benefits</div>
                <div [routerLink]="[]" [fragment]="'contactusdiv'"
                    class="menu-name">Contact</div>
            </div>
        </div>

        <div></div>
    </div>
    <div style="text-align: center;font-weight: 500;padding-bottom: 10px;">Copyright
        © 2024 Pupil
        Nest – School ERP
        Software. All Rights Reserved.</div>
</div>