<app-heading></app-heading>
<div id="homediv" style="padding-top: 98px;">
    <div style="text-align: center;">
        <h1 class="first-head ">School ERP Software</h1>
        <div class="head-content">"Specially designed and developed exclusively for educational institutions, our platform caters to the unique needs of schools, providing tailored features and solutions to streamline your administrative operations, enhance student management, and improve communication across all stakeholders"</div>
    </div>

    <div class="head-con">
        <div class="dash-board-con">
            <img width="99%"
                style="border-radius: 10px;border: 2px solid white;"
                src="../../../assets/dashmain.PNG" />
        </div>
        <div class="dash-board-text">
            <div>
                <h2 class="erp-explain">Enterprise Resource Planning</h2>
            </div>

            <div class="dash-board-text-letter">
                Pupil Nest is ERP software designed to meet every
                educational
                institution’s needs, from managing essential school
                operations
                to driving innovation in learning and administration.
            </div>

            <div style="display: flex;gap: 20px;">
                <div [routerLink]="[]" [fragment]="'contactusdiv'"
                    class="req-demo-text-home">Request a demo</div>

                <div [routerLink]="[]" [fragment]="'contactusdiv'"
                    class="req-demo-text-home">Let Discuss</div>
            </div>
        </div>
    </div>

    <div id="aboutdiv" class="about-div-mar">
        <div class="about-erp-head">
            <b style="color: #045bb8;">About </b> <b
                style="color: orangered;padding:0px 8px;"> ( Pupil Nest ERP
                Software ) </b>
        </div>
        <div class="about-contebt">
            <div class="about-contebt-first-div">
                <p style="line-height: 30px;word-spacing: 5px;">
                    Pupil Nest is a powerful ERP solution created specifically
                    for educational institutions to simplify and optimize school
                    operations. From fees collection with automated reminders
                    and payment tracking to maintaining detailed student
                    profiles and managing academic assessments, Pupil Nest
                    ensures that all essential data is organized, accessible,
                    and easy to manage. The platform also streamlines staff
                    management by tracking qualifications, roles, leave
                    requests, and payroll processes, enabling efficient
                    administration.
                </p>

                <p
                    style="line-height: 30px;word-spacing: 5px;margin-top: 70px;">
                    With robust attendance tracking, automated reporting, and a
                    comprehensive view of school operations, Pupil Nest equips
                    institutions with the insights needed for informed
                    decision-making. This all-in-one solution supports smoother
                    communication and enhanced learning outcomes, making it the
                    ideal choice for schools seeking to modernize and elevate
                    their administrative processes.
                </p>

                <div [routerLink]="[]" [fragment]="'contactusdiv'"
                    class="req-demo-text">More details</div>
            </div>

            <div class="about-contebt-second-div">
                <img width="100%" src="../../../assets/Frame 13.png" />
            </div>
        </div>
    </div>

    <div id="featuresdiv" class="about-div-mar">
        <div class="about-erp-head">
            <b style="color: #045bb8;">Features of<span
                    style="color: orangered;padding:0px 8px;">Pupil Nest ERP
                    Software</span></b>
        </div>

        <div class="feature-of-box">
            <div
                style="width: 300px;border: 2px dashed lightgrey;border-radius: 5px;padding: 5px;">
                <h3 style="font-family: sans-serif;color: #001d93;">Student Fees
                    Collection</h3>

                <div style="text-align: center;color: gold;"><mat-icon
                        class="mat-icon-head"
                        style="font-size: 75px;">attach_money</mat-icon></div>
                <p style="line-height: 28px;word-spacing: 2px;">
                    Streamline the entire fees collection process with automated
                    reminders, payment tracking, and easy reporting for both
                    administrators and parents.
                </p>
            </div>

            <div
                style="width: 300px;border: 2px dashed lightgrey;border-radius: 5px;padding: 5px;">
                <h3 style="font-family: sans-serif;color: #001d93;">Student
                    Profiles</h3>
                <div style="text-align: center;color: #045bb8;"><mat-icon
                        class="mat-icon-head"
                        style="font-size: 75px;">account_circle</mat-icon></div>
                <p style="line-height: 28px;word-spacing: 2px;">
                    Maintain detailed profiles for each student, including
                    personal information, academic history, and extracurricular
                    activities, ensuring that all data is easily accessible and
                    organized.
                </p>
            </div>

            <div
                style="width: 300px;border: 2px dashed lightgrey;border-radius: 5px;padding: 5px;">
                <h3 style="font-family: sans-serif;color: #001d93;">Marks
                    Management</h3>

                <div style="text-align: center;color: green;"><mat-icon
                        class="mat-icon-head"
                        style="font-size: 75px;">assessment</mat-icon></div>
                <p style="line-height: 28px;word-spacing: 2px;">
                    Effortlessly handle student marks and assessments, allowing
                    educators to input, calculate, and analyze academic
                    performance with ease.
                </p>
            </div>

            <div
                style="width: 300px;border: 2px dashed lightgrey;border-radius: 5px;padding: 5px;">
                <h3 style="font-family: sans-serif;color: #001d93;">Staff
                    Management</h3>

                <div style="text-align: center;color: #045bb8;"><mat-icon
                        class="mat-icon-head"
                        style="font-size: 75px;">supervisor_account</mat-icon></div>
                <p style="line-height: 28px;word-spacing: 2px;">
                    Keep track of staff details, including qualifications,
                    roles, and responsibilities, ensuring efficient management
                    of your teaching and administrative staff.
                </p>
            </div>

            <div
                style="width: 300px;border: 2px dashed lightgrey;border-radius: 5px;padding: 5px;">
                <h3 style="font-family: sans-serif;color: #001d93;">Leave
                    Application</h3>
                <div style="text-align: center;color: red;"><mat-icon
                        class="mat-icon-head"
                        style="font-size: 75px;">event_note</mat-icon></div>
                <p style="line-height: 28px;word-spacing: 2px;">
                    Enable staff members to apply for leaves seamlessly, with
                    automated approval workflows and tracking for better
                    resource planning.
                </p>
            </div>

            <div
                style="width: 300px;border: 2px dashed lightgrey;border-radius: 5px;padding: 5px;">
                <h3 style="font-family: sans-serif;color: #001d93;"> Attendance
                    Tracking</h3>

                <div style="text-align: center;color: orangered;"><mat-icon
                        class="mat-icon-head"
                        style="font-size: 75px;">today</mat-icon></div>
                <p style="line-height: 28px;word-spacing: 2px;">
                    Monitor student and staff attendance accurately, generating
                    reports that help identify trends and patterns for timely
                    interventions.
                </p>
            </div>

            <div
                style="width: 300px;border: 2px dashed lightgrey;border-radius: 5px;padding: 5px;">
                <h3 style="font-family: sans-serif;color: #001d93;">Staff Salary
                    Management</h3>

                <div style="text-align: center;color: brown;"><mat-icon
                        class="mat-icon-head"
                        style="font-size: 75px;">work</mat-icon></div>
                <p style="line-height: 28px;word-spacing: 2px;">
                    Manage staff payroll with ease, including salary
                    calculations, deductions, and disbursements, ensuring timely
                    payments and transparency.
                </p>
            </div>

            <div
                style="width: 300px;border: 2px dashed lightgrey;border-radius: 5px;padding: 5px;">
                <h3 style="font-family: sans-serif;color: #001d93;">Comprehensive
                    Reporting</h3>

                <div style="text-align: center;color: lightblue;"><mat-icon
                        class="mat-icon-head"
                        style="font-size: 75px;">list_alt</mat-icon></div>
                <p style="line-height: 28px;word-spacing: 2px;">
                    Generate a wide range of reports, including academic
                    performance, attendance statistics, fee collections, and
                    staff management insights, to aid in data-driven
                    decision-making.
                </p>
            </div>
        </div>
    </div>

    <div id="benefitsdiv" class="about-div-mar">
        <div class="about-erp-head">
            <b style="color: #045bb8;">Beenfits of<span
                    style="color: orangered;padding:0px 8px;">Pupil Nest ERP
                    Software</span></b>
        </div>

        <div class="feature-of-box">
            <div
                style="width: 300px;border: 2px dashed lightgrey;border-radius: 5px;padding: 5px;">
                <h3 style="font-family: sans-serif;color: #001d93;">Scalable for
                    All</h3>
                <p style="line-height: 28px;word-spacing: 2px;">
                    Pupil Nest grows with your institution, accommodating the
                    needs of small schools and large educational organizations
                    alike. You can easily add features as your requirements
                    evolve.
                </p>
            </div>

            <div
                style="width: 300px;border: 2px dashed lightgrey;border-radius: 5px;padding: 5px;">
                <h3 style="font-family: sans-serif;color: #001d93;">Improved
                    Efficiency</h3>
                <p style="line-height: 28px;word-spacing: 2px;">
                    Automate routine tasks such as fees collection and
                    attendance tracking, allowing staff and educators to focus
                    more on enhancing the learning experience rather than
                    administrative burdens.
                </p>
            </div>

            <div
                style="width: 300px;border: 2px dashed lightgrey;border-radius: 5px;padding: 5px;">
                <h3 style="font-family: sans-serif;color: #001d93;">Enhanced
                    Data Management</h3>
                <p style="line-height: 28px;word-spacing: 2px;">
                    Centralize all student and staff information in one secure
                    platform, ensuring easy access to critical data for informed
                    decision-making.
                </p>
            </div>

            <div
                style="width: 300px;border: 2px dashed lightgrey;border-radius: 5px;padding: 5px;">
                <h3 style="font-family: sans-serif;color: #001d93;">Comprehensive
                    Reporting</h3>
                <p style="line-height: 28px;word-spacing: 2px;">
                    Utilize robust reporting tools to gain insights into
                    academic performance, attendance, and fee collections,
                    enabling data-driven decisions that enhance educational
                    outcomes.
                </p>
            </div>

            <div
                style="width: 300px;border: 2px dashed lightgrey;border-radius: 5px;padding: 5px;">
                <h3 style="font-family: sans-serif;color: #001d93;">Scalable for
                    All</h3>
                <p style="line-height: 28px;word-spacing: 2px;">
                    Pupil Nest grows with your institution, accommodating the
                    needs of small schools and large educational organizations
                    alike. You can easily add features as your requirements
                    evolve.
                </p>
            </div>

            <div
                style="width: 300px;border: 2px dashed lightgrey;border-radius: 5px;padding: 5px;">
                <h3 style="font-family: sans-serif;color: #001d93;">Improved
                    Efficiency</h3>
                <p style="line-height: 28px;word-spacing: 2px;">
                    Automate routine tasks such as fees collection and
                    attendance tracking, allowing staff and educators to focus
                    more on enhancing the learning experience rather than
                    administrative burdens.
                </p>
            </div>
        </div>
    </div>

    <div id="contactusdiv" class="contact-con">
        <div class="contact-con-first-div">

            <div style="align-items: center;">
                <div>
                    <img width="150"
                        src="../../../assets/pupilnest-removebg-preview.png" />
                </div>
                <div class="web-name">Pupil Nest</div>
            </div>

            <div>
                <div><h2 style="color: #045bb8;font-family: sans-serif;">Contact
                        us</h2></div>

                <div style="display: flex;margin-top: 5px;font-weight: 500;">
                    <a style="display: flex;text-decoration: none;color: black;"
                        href="tel:+917373888677">
                        <div style="width: 50px;">
                            <mat-icon style="color: blue;">call</mat-icon>
                        </div>
                        <div>+91 7373888677</div></a>
                </div>

                <a style="text-decoration: none;color: black;"
                    href="mailto:pupilnest@gmail.com">
                    <div
                        style="display: flex;margin-top: 18px;font-weight: 500;">
                        <div style="width: 50px;">
                            <mat-icon style="color: blue;">mail</mat-icon></div>
                        <div>pupilnest&#64;gmail.com</div>
                    </div>
                </a>

                <div
                    style="display: flex;margin-top: 18px;font-weight: 500;">
                    <div style="width: 50px;"><mat-icon style="color: blue;">location_on</mat-icon></div>
                    <div
                        style="width: 200px;line-height: 22px;word-spacing: 5px;">
                        <span style="white-space: nowrap;">Savedata Infotech
                            Solutions</span>,
                        #1, Marvel Complex,
                        Palakkad Main Road,
                        BK Pudur, Kuniamuthur Post,
                        Coimbatore, Tamil Nadu 641008.</div>
                </div>
            </div>
        </div>
        <div class="contact-con-first-div">
            <form (ngSubmit)="submit()" [formGroup]="messageForm">
                <h2
                    style="font-size: 35px;color: #045bb8;font-family: sans-serif;">Book
                    a demo</h2>

                <div style="margin-top: 20px;">
                    <div>
                        <label>Name<span style="color: red;">*</span></label>
                    </div>
                    <div>
                        <input
                            [ngClass]="{'input-invalid': messageForm.controls.name.touched && messageForm.controls.name.invalid}"
                            formControlName="name" style="width: 300px;"
                            class="text-input" required />
                    </div>
                </div>

                <div style="margin-top: 20px;">
                    <div>
                        <label>Mobile Number<span style="color: red;">*</span></label>
                    </div>
                    <div>
                        <input
                            [ngClass]="{'input-invalid': messageForm.controls.mobile.touched && messageForm.controls.mobile.invalid}"
                            formControlName="mobile" style="width: 300px;"
                            class="text-input" required />
                    </div>
                </div>

                <div style="margin-top: 20px;">
                    <div>
                        <label>Message<span style="color: red;">*</span></label>
                    </div>
                    <div>
                        <textarea
                            [ngClass]="{'input-invalid': messageForm.controls.message.touched && messageForm.controls.message.invalid}"
                            formControlName="message"
                            style="width: 300px;" class="text-input" required></textarea>
                    </div>
                </div>

                <div style="margin-top: 20px;">
                    <div type="submit" class="example-button-row">
                        <button class="btn-save" >Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>
